__pycache__/
.neptune
.venv
.venv-pyg
.vscode
/ConvMAE/
best_ae_model_cuda*.pth
/models
out_*.log
output_*.png
config*.yml
*.pkl
*.csv
/tune_mil_outputs/*
/mil_results/*
mil_results/*.csv
mil_results/*.yml